@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Oswald:wght@400;500&display=swap');

// colors

$primary-dark: #383838;
$primary-light: #8D8D8D;


body {
  background-color: #FDFDFC;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: $primary-dark;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}


.hamburger-btn {
  width: 40px;
  height: 23px;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    width: 40px;
    height: 23px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("images/hamburger.svg");
  }
}

.top_shortcuts {
  text-decoration: none;
  color: #383838;
  font-size: 20px;
  margin-right: 60px;
}

.products-wrapper {
  margin-top: 30px;

  .product {
    position: relative;

    .description {
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
      position: absolute;
      width: 50%;
      min-height: 30%;
      background-color: #FDFDFC;
      bottom: 0;
      //left: 5%;

      h3 {
        font-size: 44px;
        color: #383838;
      }

      p {
        color: #8D8D8D;
        font-size: 16px;
        //font-size: 1vw;
        word-break: break-word;
        margin-bottom: 0;
      }

      span {
        color: #383838;
        font-size: 14px;

        & > img {
          max-width: 19px;
          max-height: 19px;
          background: transparent;
        }
      }
    }

    img {
      max-width: 840px;
      width: 100%;
      background-color: #F3F4F6;
    }
  }

}

.about-us {
  margin-top: 100px;

  h2 {
    font-size: 107px;
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: uppercase;
  }

  .subscribe {
    font-size: 38px;
    font-weight: 400;
  }


  .desc {
    letter-spacing: 0.25px;
    font-size: 25px;
    font-weight: 500;
  }

  .extra-info {
    margin-top: 30px;

    .label {
      display: flex;
      //font-family: 'Oswald', sans-serif;

      span:first-of-type {
        font-size: 75px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: -1.5px;
      }

      span:last-of-type {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 40px;
        color: #8D8D8D;
        margin-left: 7px;
        letter-spacing: 0.25px;
      }
    }

    .text {
      font-family: 'Manrope', sans-serif;
      font-size: 14px;
      color: $primary-light;
      font-weight: 400;
    }
  }

  .about-img {
    margin-top: 100px;

    & > img {
      width: 100%;
    }
  }

}

.contact-us {
  margin-top: 100px;

  h2 {
    font-size: 107px;
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
}