@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Oswald:wght@400;500&display=swap');

// colors

$primary-dark: #383838;
$primary-light: #8D8D8D;
$secondary-light: #D9D9D9;

$background-light: #FDFDFC;
$background-dark: #F3F4F6;

// common styles
.container {
  max-width: 1440px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}


body {
  background-color: $background-light;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: $primary-dark;
  margin: 0;
  padding: 0;
}

//
.md-hidden {
  @media (max-width: 720px) {
    display: none;
  }
}

// buttons

.btn-offer {
  position: relative;
  width: 154px;
  height: 33px;
  background-color: #189D85;
  display: flex;
  align-items: center;
  padding: 10px 7px;
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  color: #FDFDFC;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: bold;
  justify-content: space-between;

  //&:hover {
  //  transition: 1s ease-in-out;
  //  background: #4F95DA;
  //}
}

// blocks
.faq {
  .faq-block {
    margin-bottom: 35px;

    .question {
      font-size: 31px;
      letter-spacing: 0.5px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .answer {
      font-family: 'Manrope', sans-serif;
      font-size: 16px;
      letter-spacing: 0.5px;

      ul {
        list-style: circle;
        padding-left: 20px;

        li:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.block {
  margin-top: 140px;

  h2 {
    font-size: 107px;
    letter-spacing: -2px;
    line-height: 107px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 90px;
  }

  .title {
    font-size: 38px;
  }

  @media(max-width: 1199px) {
    .description {
      .list {
        margin-bottom: 20px;

        ul {
          padding-left: 20px;
        }
      }
    }
  }
  @media(max-width: 720px) {
    margin-top: 70px;
    .description {
      margin-top: 20px;
    }
    h2 {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 25px;
    }
  }
  @media(max-width: 520px) {
    h2 {
      font-size: 58px;
      line-height: 58px;
      margin-bottom: 25px;
    }
  }
}

.banner-video {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
  }

  position: relative;
  height: 100vh;
  width: 100%;

  video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .background-instead-video {
    background-image: url("images/products-homes1.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
  }

  .container {
    position: absolute;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    .title {
      font-size: 22px;
      color: $background-light;
      font-weight: 500;
      text-transform: uppercase;
    }

    .body {
      margin-top: 30px;
      width: 50%;
      font-size: 88px;
      color: $background-light;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: -1.5px;
    }

    .footer {
      margin-top: 40px;
      font-family: 'Manrope', sans-serif;
      letter-spacing: 0.5px;
      color: $secondary-light;
    }
  }

  .mouse-icon {
    position: absolute;
    z-index: 3;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;

    &:after {
      content: "";
      height: 40px;
      width: 2px;
      left: 50%;
      margin-left: -1px;
      background: #f16622;
      display: inline-block;
      position: absolute;
      bottom: -50px;
    }

    svg {
      display: block;
      width: 24px;
    }
  }

  @media (max-width: 992px) {
    height: 70vh;
    .container {
      .body {
        font-size: 36px;
        margin-top: 15px;
      }
    }
  }
  @media (max-width: 520px) {
    video {
      display: none;
    }
    .background-instead-video {
      display: block;
    }
  }
}


// header


header.background-version {
  background-color: $background-light;
  box-shadow: 0 0 0 2px $background-dark;

  .logo {
    .logo-light {
      display: none;
    }

    .logo-dark {
      display: block !important;
    }
  }

  .top_shortcuts {
    a {
      color: #383838 !important;
    }
  }

  .menu-icon {
    .menu-icon__line {
      background-color: $primary-dark !important;
    }
  }
}

.nav-active {
  & > .background-version {
  }
}


header.scroll-version {
  transform: translateY(-100%);
}

.main-menu {
  background: 0 0;
  border-bottom: 0;
  transition: .3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    .logo {
      padding: 0;
      text-decoration: none;
      display: block;

      .logo-dark {
        display: none;
      }
    }

    .top_shortcuts {
      margin-left: auto;
      margin-right: 30px;

      a {
        text-decoration: none;
        color: #383838;
        font-size: 20px;

        &:first-child {
          margin-right: 60px;
        }
      }
    }

    .top_shortcuts-light {
      a {
        color: $background-light;
      }
    }


    .menu-icon {
      text-align: center;
      cursor: pointer;

      .menu-icon__line {
        height: 2px;
        width: 30px;
        display: block;
        background-color: $primary-dark;
        margin-bottom: 7px;
        cursor: pointer;
        transition: transform .2s ease, background-color .5s ease;
      }

      .menu-icon__line-left {
        width: 16.5px;
        transition: all 200ms linear;
      }

      .menu-icon__line-right {
        width: 16.5px;
        float: right;
        transition: all 200ms linear;
      }

      .menu-icon:hover .menu-icon__line-left,
      .menu-icon:hover .menu-icon__line-right {
        width: 30px;
      }
    }

    .menu-icon-light {
      .menu-icon__line {
        background-color: $background-light;
      }
    }
  }


}

.nav {
  display: none;
  background-color: $primary-dark;
  color: $background-light;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: 100;
  overflow-y: scroll;

  .nav-wrapper {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;

      .close-btn {
        cursor: pointer;
      }
    }

    .content {
      margin-top: 100px;
      margin-bottom: 100px;

      ul {
        li {
          font-size: 20px;

          a {
            text-decoration: none;
            color: $background-light;
          }
        }

        li:first-child {
          font-size: 40px;
          font-weight: 400;
        }

        margin-bottom: 20px;
      }
    }

    .footer {
      font-size: 25px;
      letter-spacing: 0.5px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .tel {
        display: flex;
        flex-shrink: 0;
        margin-bottom: 15px;
      }

      .email {
        display: flex;
        flex-shrink: 0;
        margin-bottom: 15px;
      }

      .socials {
        display: flex;
        flex-shrink: 0;
        margin-bottom: 15px;

        & > a:not(:last-child) {
          margin-right: 5px;
        }

        img {
          width: 100%;
        }
      }
    }

    @media (max-width: 720px) {
      .content {
        margin-top: 20px;
        margin-bottom: 30px;

        ul {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.opened {
  display: block;
  opacity: 1;
}

.nav-opened {
  overflow-x: hidden;
  overflow-y: hidden;
}


///* #Primary style
//================================================== */
//
//.section {
//  position: relative;
//  width: 100%;
//  display: block;
//}
//
//.over-hide {
//  overflow: hidden;
//}
//
//.full-height {
//  height: 100vh;
//}


// header end


// products block

.products {
  margin-top: 100px;

  .product-card {
    margin-top: 15px;
    position: relative;
    min-height: 700px;
    display: flex;
    background-color: $background-dark;
    transition: all 0.2s ease-out;


    .description {
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 3%;
      position: absolute;
      width: 50%;
      min-height: 30%;
      background-color: $background-light;
      bottom: 0;
      transition: all 0.2s ease-out;

      h3 {
        font-size: 38px;
        font-weight: 400;
        color: $primary-dark;

      }

      p {
        color: $primary-light;
        font-size: 14px;
        word-break: break-word;
        font-family: 'Manrope', sans-serif;
        letter-spacing: 0.5px;
        //margin-bottom: 0;
      }

      span {
        color: $primary-dark;
        font-size: 14px;
        letter-spacing: 1.25px;
        font-weight: bold;
        font-family: 'Manrope', sans-serif;
        display: flex;

        & > img {
          max-width: 18px;
          max-height: 18px;
          background-color: transparent;
          margin-left: 10px;
        }
      }
    }

    &:hover {
      background-color: darken($background-dark, 15%);
      transition: all 0.2s ease-out;

      .description {
        background-color: $primary-dark;
        transition: all 0.2s ease-out;

        h3 {
          color: $background-light;
          transition: all 0.2s ease-out;
        }

        p {
          color: #D9D9D9;
          transition: all 0.2s ease-out;
        }

        span {
          color: $background-light;
          transition: all 0.2s ease-out;

          & > img {
            filter: invert(1);
            transition: all 0.2s ease-out;
          }
        }
      }
    }

    @media (max-width: 991px) {
      .description {
        h3 {
          font-size: 32px;
        }

        p {
          font-size: 12px;
        }

        span {
          font-size: 12px;
        }
      }
    }

  }

  .printer {
    background-image: url("images/products-printer.svg");
    background-position: center;
    background-size: cover;
  }

  .homes {
    background: url("images/products-homes.svg");
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 771px) {
    margin-top: 75px;
    .product-card {
      min-height: 600px;
    }
  }

}

// about us
.about-us {

  .subscribe {
    font-size: 38px;
    font-weight: 400;

    .socials {
      margin-top: 10px;
    }
  }


  .desc {
    letter-spacing: 0.25px;
    font-size: 25px;
    font-weight: 500;
  }

  .extra-info {
    margin-top: 30px;

    .label {
      display: flex;

      span:first-of-type {
        font-size: 75px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: -1.5px;
      }

      span:last-of-type {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 40px;
        color: #8D8D8D;
        margin-left: 7px;
        letter-spacing: 0.25px;
      }
    }

    .text {
      font-family: 'Manrope', sans-serif;
      font-size: 14px;
      color: $primary-light;
      font-weight: 400;
    }
  }

  .about-img {
    margin-top: 60px;

    & > img {
      width: 100%;
    }
  }

  @media (max-width: 991px) {
    .subscribe {
      .socials {
        margin-top: 0;
      }
    }
    .desc {
      margin-top: 15px;
    }
  }
  @media (max-width: 576px) {
    .subscribe {
      font-size: 30px;
    }
    .desc {
      font-size: 20px;
    }
    .extra-info {

      .label {
        span:last-of-type {
          font-size: 16px;
          line-height: 18px;
          margin-left: 5px;
        }
      }
    }
  }
}

// video about
.video-about-wrapper {
  position: relative;
  height: 100vh;
  margin-top: 50px;
  @media (max-width: 520px) {
    height: 50vh;
  }


  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }


  .video-bg-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    video {
      position: absolute;
      top: 50%;
      //width: 1920px;
      left: 50%;
      right: 0;
      bottom: 0;
      transform: translate(-50%, -50%);
      min-height: 100%;
      min-width: 100%;
    }

    .background-instead-video {
      background-image: url("images/homes-affordable-1.jpg");
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: none;
    }

    //@media (max-width: 520px) {
    //  video {
    //    display: none;
    //  }
    //  .background-instead-video {
    //    display: block;
    //  }
    //}
  }
}


// news

.news {
  //margin-top: 60px;
  //
  //h2 {
  //  font-size: 107px;
  //  font-weight: 400;
  //  letter-spacing: -2px;
  //  text-transform: uppercase;
  //}

  .news-item {
    margin-top: 60px;

    .header-title {
      font-size: 44px;
      line-height: 52.8px;
    }

    @media (max-width: 576px) {
      //margin-top: 15px;
      .header-title {
        font-size: 35px;
        line-height: 42.8px;
      }

    }

  }

  .header-text {
    .header {
      font-size: 31px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 40px;
    }

    .desc {
      margin-top: 25px;
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      letter-spacing: 0.5px;
    }

    @media (max-width: 1199px) {
      .header {
        margin-top: 20px;
      }
    }

  }

  .header-pic {
    display: flex;
    justify-content: flex-end;

    & > img {
      //max-width: 700px;
      width: 100%;
    }

    @media (max-width: 1199px) {
      margin-top: 20px;
    }
  }

  .news-gallery {
    .gallery-pics {
      margin-top: 30px;

      & > img {
        //max-width: 330px;
        width: 100%;
      }
    }
  }

  @media (max-width: 576px) {
    //margin-top: 15px;
    //h2 {
    //  font-size: 70px;
    //}
    .news-gallery {
      .gallery-pics {
        display: flex;
        justify-content: center;
        margin-top: 15px;
      }
    }
    .header-text {
      @media (max-width: 576px) {
        .header {
          font-size: 25px;
          line-height: 27px;
          margin-top: 10px;
        }
        .desc {
          margin-top: 10px;
        }

      }
    }
  }
}

// contact us
.contact-us {
  //margin-top: 70px;
  padding-bottom: 50px;

  //h2 {
  //  font-size: 107px;
  //  font-weight: 400;
  //  letter-spacing: -2px;
  //  text-transform: uppercase;
  //}

  .interesting {
    font-size: 38px;
    line-height: 40px;
  }

  .instruction {
    font-size: 27px;
    letter-spacing: 0.25px;
    line-height: 33px;

    span {
      line-height: 20px;
      display: block;
      margin-top: 5px;
      font-family: 'Manrope', sans-serif;
      font-size: 14px;
      color: $primary-light;
    }
  }

  .main-contact-form {
    .main-input {
      border: none;
      outline: 0;
      background-color: $background-light;
      background-image: url('images/bg.svg');
      background-position: bottom;
      background-repeat: repeat-x;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -.02em;
      color: #1a1a1a;
      height: 44px;
      display: inline-block;
      padding-left: 0;
      padding-right: 10px;
      box-sizing: border-box;
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
    }
  }

  .main-button {
    background-color: #189D85;
    display: inline-flex;
    align-items: center;
    border: none;
    height: 33px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    margin-top: 15px;
  }

  @media (max-width: 991px) {
    .interesting {
      margin-bottom: 35px;
    }
  }
  @media (max-width: 520px) {
    .instruction {
      margin-bottom: 20px;
    }
  }
}


// printers page

#printers-page {
  min-height: 600px;

  .info-boxes {
    margin-top: 40px;

    h4 {
      margin-bottom: 10px;
      font-size: 31px;
      letter-spacing: 0.5px;
      font-weight: 500;
    }

    .info-box {
      .header {
        font-size: 28px;
        color: $primary-light;
      }

      .title {

      }

      .short-desc {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        letter-spacing: 0.5px;
        margin-top: 15px;
        margin-bottom: 40px;
      }

      .content {
        display: flex;

        & > p {
          line-height: 88px;
          font-size: 70px;
          letter-spacing: -1.5px;
          margin-right: 10px;
        }

        & > span {
          font-size: 31px;
          font-weight: 500;
          letter-spacing: 0.5px;

          & > i {
            display: block;
            font-size: 13px;
            font-style: normal;
            font-family: 'Manrope', sans-serif;
          }
        }
      }

      .content-metric {
        display: flex;
        color: $primary-light;

        & > p {
          font-size: 28px;
          font-weight: 500;
          letter-spacing: 0.25px;

        }

        & > span {
          margin-left: 3px;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.5px;

          & > i {
            display: block;
            font-size: 12px;
            line-height: 12px;
            font-style: normal;
            font-family: 'Manrope', sans-serif;
          }
        }
      }
    }

    .extra-space {
      margin-top: 40px;
    }

    @media (max-width: 1199px) {
      margin-top: 25px;
      .info-box {
        margin-top: 15px;

        .short-desc {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: 520px) {
      .info-box {
        .header {
          font-size: 18px;
        }

        .content {
          & > p {
            font-size: 45px;
            line-height: 60px;
          }

          & > span {
            font-size: 20px;
          }
        }

        .content-metric {
          & > p {
            font-size: 20px;
          }

          & > span {
            font-size: 15px;
          }
        }
      }
    }
  }

  .info-boxes-pic {
    margin-top: 60px;

    .info {
      .info-boxes {
        margin-top: 0;
        margin-bottom: 60px;
      }
    }

    .pic {
      img {
        width: 100%;
        max-width: 700px;
      }
    }
  }


  // printers video
  .printers-video {
    display: flex;
    justify-content: center;
    margin-top: 70px;

    img {
      width: 100%;
      max-width: 1440px;
    }
  }

  // printers about
  .printers-about {

    .about {
      font-size: 38px;
    }

    .header {
      font-size: 25px;
      font-weight: 500;
    }

    .info-desc {
      margin-top: 50px;

      .text {
        font-family: 'Manrope', sans-serif;
        letter-spacing: 0.5px;
      }

      .pic {
        display: flex;
        justify-content: flex-end;

        img {
          width: 100%;
          max-width: 700px;

        }
      }
    }

    @media (max-width: 1199px) {
      .info-desc {
        margin-top: 25px;

        .text {
          margin-bottom: 25px;
        }
      }
    }
    @media (max-width: 720px) {
      .header {
        font-size: 20px;
        margin-top: 15px;
      }
      .info-desc {
        margin-top: 25px;

        .text {
          margin-bottom: 25px;
        }
      }
    }
  }

  // printers specifications
  .printers-specifications {
    .title {
      font-size: 38px;
      line-height: 50px;
    }

    .description {
      .header {
        .list {
          h4 {
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 0.25px;
          }

          ul {
            list-style: circle;
            margin-top: 20px;

            li {
              font-family: 'Manrope', sans-serif;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 0.5px;
            }

            li:not(:first-child) {
              margin-top: 15px;
            }
          }
        }

        img {
          max-width: 700px;
          width: 100%;
        }
      }

      .info-boxes {

        .desc {
          font-family: 'Manrope', sans-serif;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }
  }

  // printers faq
  .printers-faq {
  }
}

//


#homes-page {


  min-height: 600px;


  .homes-about {
    .info {
      .label {
        display: flex;

        span:first-of-type {
          font-size: 88px;
          font-weight: 400;
          line-height: 75px;
          letter-spacing: -1.5px;
        }

        span:last-of-type {
          font-size: 31px;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 40px;
          color: #8D8D8D;
          margin-left: 7px;
          letter-spacing: 0.25px;
        }
      }

      .desc {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        color: $primary-light;
        letter-spacing: 0.5px;
      }

      .pic {
        margin-top: 50px;

        & > img {
          width: 100%;
          max-width: 1070px;
          background-color: $background-dark;
        }
      }

      .pic-desc {
        margin-top: 40px;

        &__desc {
          font-family: 'Manrope', sans-serif;
          font-size: 16px;
          color: $primary-light;
          letter-spacing: 0.5px;
        }

        &__pic {
          & > img {
            width: 100%;
            max-width: 330px;
            background-color: $background-dark;
          }
        }
      }
    }

    @media (max-width: 1199px) {
      .info {
        .desc {
          margin-top: 25px;
        }

        .pic {
          margin-top: 25px;
        }
      }
    }
    @media (max-width: 720px) {
      .info {
        .pic-desc {
          margin-top: 25px;
        }

        .extra-space {
          margin-top: 25px;
        }


      }
    }
  }

  .houses {
    .description {
      .pic-desc {
        margin-top: 25px;

        &__title {
          font-size: 31px;
          letter-spacing: 0.5px;
          font-weight: 500;
        }

        &__pic {
          & > img {
            width: 100%;
            background-color: $background-dark;
          }

        }

        &__desc {
          font-family: 'Manrope', sans-serif;
          font-size: 16px;
          color: $primary-light;
          letter-spacing: 0.5px;
        }
      }

      .offer {
        margin-top: 60px;

        .title {
          font-size: 31px;
          letter-spacing: 0.25px;
          font-weight: 500;
          margin-bottom: 30px;
        }
      }

      @media (max-width: 1199px) {
        .pic-desc {
          &__desc {
            //margin-bottom: 25px;
          }

          .extra-space {
            margin-top: 25px;
          }
        }
      }
    }

  }

}


// footer
footer {
  background-color: $primary-dark;
  min-height: 300px;
  color: $secondary-light;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 30px;

  .logo {
    .desc {
      margin-top: 15px;
      font-size: 14px;
      line-height: 17px;
      font-family: 'Manrope', sans-serif;
      letter-spacing: 0.5px;
      padding-right: 20px;
    }
  }

  .sitemap {
    .header {
      color: $background-light;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 500;

    }

    .content {
      margin-top: 15px;
      //text-align: center;
    }
  }

  .contacts {
    .header {
      color: $background-light;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 500;
      text-align: left;
    }

    .content {
      margin-top: 15px;

      .address {
        margin-top: 15px;

        & > p {
          margin: 0;
        }
      }
    }
  }

  .subscribe {
    .header {
      color: $background-light;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 500;
      text-align: left;

      .newsletter-subscribe {
        margin-top: 25px;
        display: flex;

        input {
          margin-right: 10px;
        }
      }
    }

    .socials {
      margin-top: 50px;
      display: flex;

      & > a:not(:last-child) {
        margin-right: 10px;
      }

      img {
        max-width: 50px;
        width: 100%;
      }
    }
  }

  @media (max-width: 1199px) {
    .navs {
      margin-top: 30px;
    }
  }
  @media (max-width: 772px) {
    .subscribe {
      margin-top: 15px;
    }
  }
}