

.container-fluid {
  padding-left: 85px;
  padding-right: 85px;
}


.hamburger-btn {
  width: 40px;
  height: 23px;
  cursor: pointer;
  position: relative;
  &:after {
    content: '';
    width: 40px;
    height: 23px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("images/hamburger.svg");
  }
}

.top_shortcuts {
  text-decoration: none;
  color: #383838;
  font-size: 20px;
  margin-right: 60px;
}

.products-wrapper {
  margin-top: 95px;
}