@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Oswald:wght@400;500&display=swap");
.container {
  max-width: 1440px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FDFDFC;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #383838;
}

@media (max-width: 720px) {
  .md-hidden {
    display: none;
  }
}

header.background-version {
  background-color: #FDFDFC;
  box-shadow: 0 0 0 2px #F3F4F6;
}

header.scroll-version {
  transform: translateY(-100%);
}

.main-menu {
  background: 0 0;
  border-bottom: 0;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.main-menu .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.main-menu .navbar .logo {
  padding: 0;
  text-decoration: none;
  display: block;
}
.main-menu .navbar .top_shortcuts {
  margin-left: auto;
  margin-right: 30px;
}
.main-menu .navbar .top_shortcuts a {
  text-decoration: none;
  color: #383838;
  font-size: 20px;
}
.main-menu .navbar .top_shortcuts a:first-child {
  margin-right: 60px;
}
.main-menu .navbar .menu-icon {
  text-align: center;
}
.main-menu .menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #383838;
  margin-bottom: 7px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.main-menu .menu-icon__line-left {
  width: 16.5px;
  transition: all 200ms linear;
}
.main-menu .menu-icon__line-right {
  width: 16.5px;
  float: right;
  transition: all 200ms linear;
}
.main-menu .menu-icon:hover .menu-icon__line-left,
.main-menu .menu-icon:hover .menu-icon__line-right {
  width: 30px;
}

.nav {
  display: none;
  background-color: #383838;
  color: #FDFDFC;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: 3;
}

.opened {
  display: block;
  opacity: 1;
}

.nav-opened {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* #Primary style
================================================== */
.section {
  position: relative;
  width: 100%;
  display: block;
}

.over-hide {
  overflow: hidden;
}

.full-height {
  height: 100vh;
}

.products {
  margin-top: 71px;
}
.products .product-card {
  margin-top: 15px;
  position: relative;
  min-height: 600px;
  display: flex;
  background-color: #F3F4F6;
  transition: all 0.2s ease-out;
}
.products .product-card .description {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  position: absolute;
  width: 50%;
  min-height: 30%;
  background-color: #FDFDFC;
  bottom: 0;
  transition: all 0.2s ease-out;
}
.products .product-card .description h3 {
  font-size: 38px;
  font-weight: 400;
  color: #383838;
}
.products .product-card .description p {
  color: #8D8D8D;
  font-size: 14px;
  word-break: break-word;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.5px;
}
.products .product-card .description span {
  color: #383838;
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  display: flex;
}
.products .product-card .description span > img {
  max-width: 18px;
  max-height: 18px;
  background-color: transparent;
  margin-left: 10px;
}
.products .product-card:hover {
  background-color: #c7ccd5;
  transition: all 0.2s ease-out;
}
.products .product-card:hover .description {
  background-color: #383838;
  transition: all 0.2s ease-out;
}
.products .product-card:hover .description h3 {
  color: #FDFDFC;
  transition: all 0.2s ease-out;
}
.products .product-card:hover .description p {
  color: #D9D9D9;
  transition: all 0.2s ease-out;
}
.products .product-card:hover .description span {
  color: #FDFDFC;
  transition: all 0.2s ease-out;
}
.products .product-card:hover .description span > img {
  filter: invert(1);
  transition: all 0.2s ease-out;
}
@media (max-width: 991px) {
  .products .product-card .description h3 {
    font-size: 32px;
  }
  .products .product-card .description p {
    font-size: 12px;
  }
  .products .product-card .description span {
    font-size: 12px;
  }
}
.products .printer {
  background-image: url("images/products-homes1.png");
  background-position: center;
}
.products .homes {
  background: url("images/product-homes.png") center;
}

.about-us {
  margin-top: 70px;
}
.about-us h2 {
  font-size: 107px;
  font-weight: 400;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.about-us .subscribe {
  font-size: 38px;
  font-weight: 400;
}
.about-us .subscribe .socials {
  margin-top: 10px;
}
.about-us .desc {
  letter-spacing: 0.25px;
  font-size: 25px;
  font-weight: 500;
}
.about-us .extra-info {
  margin-top: 30px;
}
.about-us .extra-info .label {
  display: flex;
}
.about-us .extra-info .label span:first-of-type {
  font-size: 75px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: -1.5px;
}
.about-us .extra-info .label span:last-of-type {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 40px;
  color: #8D8D8D;
  margin-left: 7px;
  letter-spacing: 0.25px;
}
.about-us .extra-info .text {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #8D8D8D;
  font-weight: 400;
}
.about-us .about-img {
  margin-top: 60px;
}
.about-us .about-img > img {
  width: 100%;
}
@media (max-width: 991px) {
  .about-us .subscribe .socials {
    margin-top: 0;
  }
  .about-us .desc {
    margin-top: 15px;
  }
}
@media (max-width: 576px) {
  .about-us {
    margin-top: 25px;
  }
  .about-us h2 {
    font-size: 70px;
    margin-bottom: 15px;
  }
  .about-us .subscribe {
    font-size: 30px;
  }
  .about-us .desc {
    font-size: 20px;
  }
  .about-us .extra-info .label span:last-of-type {
    font-size: 16px;
    line-height: 18px;
    margin-left: 5px;
  }
}

.news {
  margin-top: 60px;
}
.news h2 {
  font-size: 107px;
  font-weight: 400;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.news .news-item {
  margin-top: 60px;
}
.news .news-item .header-title {
  font-size: 44px;
  line-height: 52.8px;
}
@media (max-width: 576px) {
  .news .news-item {
    margin-top: 15px;
  }
  .news .news-item .header-title {
    font-size: 35px;
    line-height: 42.8px;
  }
}
.news .header-text .header {
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 40px;
}
.news .header-text .desc {
  margin-top: 25px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@media (max-width: 1199px) {
  .news .header-text .header {
    margin-top: 20px;
  }
}
.news .header-pic {
  display: flex;
  justify-content: flex-end;
}
.news .header-pic > img {
  max-width: 700px;
  width: 100%;
}
@media (max-width: 1199px) {
  .news .header-pic {
    margin-top: 20px;
  }
}
.news .news-gallery .gallery-pics {
  margin-top: 30px;
}
.news .news-gallery .gallery-pics > img {
  max-width: 330px;
  width: 100%;
}
@media (max-width: 576px) {
  .news {
    margin-top: 15px;
  }
  .news h2 {
    font-size: 70px;
  }
  .news .news-gallery .gallery-pics {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .news .header-text .header {
    font-size: 25px;
    line-height: 27px;
    margin-top: 10px;
  }
  .news .header-text .desc {
    margin-top: 10px;
  }
}

.contact-us {
  margin-top: 70px;
  padding-bottom: 50px;
}
.contact-us h2 {
  font-size: 107px;
  font-weight: 400;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.contact-us .interesting {
  font-size: 38px;
  line-height: 40px;
}
.contact-us .instruction {
  font-size: 27px;
  letter-spacing: 0.25px;
  line-height: 33px;
}
.contact-us .instruction span {
  line-height: 20px;
  display: block;
  margin-top: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #8D8D8D;
}
.contact-us .main-contact-form .main-input {
  border: none;
  outline: 0;
  background-color: #FDFDFC;
  background-image: url("images/bg.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1a1a1a;
  height: 44px;
  display: inline-block;
  padding-left: 0;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.contact-us .main-button {
  background-color: #189D85;
  display: inline-flex;
  align-items: center;
  border: none;
  height: 33px;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
@media (max-width: 991px) {
  .contact-us .interesting {
    margin-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .contact-us {
    margin-top: 20px;
  }
  .contact-us h2 {
    font-size: 70px;
  }
}

#printers-page {
  min-height: 600px;
}
#printers-page .block {
  margin-top: 60px;
}
#printers-page .block h2 {
  font-size: 107px;
  letter-spacing: -2px;
  line-height: 107px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 60px;
}
#printers-page .block .title {
  font-size: 44px;
}
@media (max-width: 720px) {
  #printers-page .block h2 {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 25px;
  }
}
@media (max-width: 520px) {
  #printers-page .block h2 {
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 25px;
  }
}
#printers-page .info-boxes {
  margin-top: 40px;
}
#printers-page .info-boxes h4 {
  margin-bottom: 10px;
  font-size: 31px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
#printers-page .info-boxes .info-box .header {
  font-size: 28px;
  color: #8D8D8D;
}
#printers-page .info-boxes .info-box .short-desc {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-bottom: 40px;
}
#printers-page .info-boxes .info-box .content {
  display: flex;
}
#printers-page .info-boxes .info-box .content > p {
  line-height: 88px;
  font-size: 70px;
  letter-spacing: -1.5px;
  margin-right: 10px;
}
#printers-page .info-boxes .info-box .content > span {
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#printers-page .info-boxes .info-box .content > span > i {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: "Manrope", sans-serif;
}
#printers-page .info-boxes .info-box .content-metric {
  display: flex;
  color: #8D8D8D;
}
#printers-page .info-boxes .info-box .content-metric > p {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.25px;
}
#printers-page .info-boxes .info-box .content-metric > span {
  margin-left: 3px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#printers-page .info-boxes .info-box .content-metric > span > i {
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  font-family: "Manrope", sans-serif;
}
@media (max-width: 1199px) {
  #printers-page .info-boxes {
    margin-top: 25px;
  }
  #printers-page .info-boxes .info-box {
    margin-top: 15px;
  }
}
#printers-page .info-boxes-pic {
  margin-top: 60px;
}
#printers-page .info-boxes-pic .info .info-boxes {
  margin-top: 0;
  margin-bottom: 60px;
}
#printers-page .info-boxes-pic .pic img {
  width: 100%;
  max-width: 700px;
}
#printers-page .printers-video {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
#printers-page .printers-video img {
  width: 100%;
  max-width: 1440px;
}
#printers-page .printers-about .about {
  font-size: 38px;
}
#printers-page .printers-about .header {
  font-size: 25px;
  font-weight: 500;
}
#printers-page .printers-about .info-desc {
  margin-top: 50px;
}
#printers-page .printers-about .info-desc .text {
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.5px;
}
#printers-page .printers-about .info-desc .pic {
  display: flex;
  justify-content: flex-end;
}
#printers-page .printers-about .info-desc .pic img {
  width: 100%;
  max-width: 700px;
}
@media (max-width: 1199px) {
  #printers-page .printers-about .info-desc {
    margin-top: 25px;
  }
  #printers-page .printers-about .info-desc .text {
    margin-bottom: 25px;
  }
}
@media (max-width: 720px) {
  #printers-page .printers-about .header {
    font-size: 20px;
    margin-top: 15px;
  }
  #printers-page .printers-about .info-desc {
    margin-top: 25px;
  }
  #printers-page .printers-about .info-desc .text {
    margin-bottom: 25px;
  }
}
#printers-page .printers-specifications .title {
  font-size: 38px;
  line-height: 50px;
}
#printers-page .printers-specifications .description .header .list h4 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.25px;
}
#printers-page .printers-specifications .description .header .list ul {
  list-style: circle;
  margin-top: 20px;
}
#printers-page .printers-specifications .description .header .list ul li {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#printers-page .printers-specifications .description .header .list ul li:not(:first-child) {
  margin-top: 15px;
}
#printers-page .printers-specifications .description .header img {
  max-width: 700px;
  width: 100%;
}
#printers-page .printers-specifications .description .info-boxes .desc {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
#printers-page .printers-faq .faq .faq-block {
  margin-bottom: 80px;
}
#printers-page .printers-faq .faq .faq-block .question {
  font-size: 31px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-bottom: 25px;
}
#printers-page .printers-faq .faq .faq-block .answer {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}
#printers-page .printers-faq .faq .faq-block .answer ul {
  list-style: circle;
  padding-left: 20px;
}
#printers-page .printers-faq .faq .faq-block .answer ul li:not(:last-child) {
  margin-bottom: 20px;
}

footer {
  background-color: #383838;
  min-height: 300px;
  color: #D9D9D9;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 30px;
}
footer .logo .desc {
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.5px;
  padding-right: 20px;
}
footer .sitemap .header {
  color: #FDFDFC;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
}
footer .sitemap .content {
  margin-top: 15px;
}
footer .contacts .header {
  color: #FDFDFC;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
footer .contacts .content {
  margin-top: 15px;
}
footer .contacts .content .address {
  margin-top: 15px;
}
footer .contacts .content .address > p {
  margin: 0;
}
footer .subscribe .header {
  color: #FDFDFC;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
footer .subscribe .socials {
  margin-top: 50px;
  display: flex;
}
footer .subscribe .socials > a:not(:last-child) {
  margin-right: 5px;
}
footer .subscribe .socials img {
  max-width: 50px;
  width: 100%;
}
@media (max-width: 1199px) {
  footer .navs {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
